extends layout

block content
  #container
    div(class="jumbotron text-center")
        h1
            span(class="fa fa-lock")
        | Authentification
        p Login with:
        a(href="/auth/facebook", class="btn btn-primary")
            span(class="fa fa-facebook")
            | Facebook