extends layout
block content
    h1= title
    p Welcome to #{title}
    #container
        div(class="col-sm-6 col-sm-offset-3")
            h1
                span(class="fa fa-lock")
                | Login
            if message.length > 0
                div(class="alert alert-danger") message