extends layout
block content
    #container
        div(class="page-header text-center")
            h1
                span(class="fa fa-anchor")
                | Profile Page
            a(href="/logout", class="btn btn-default btn-sm") Logout
        div(class="row")
            div(class="col-sm-6")
                div(class="well")
                    h3
                        span(class="fa fa-user")
                    | Local
                    ul
                        li id:  #{user.facebook.id}
                        li token: #{user.facebook.token}
                        li email: #{user.facebook.email}
                        li name: #{user.facebook.name}