<ion-view title="Match">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content has-header="true">

        <div class="card">
            <div class="item item-text-wrap center-block">
                Invitation sent
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                What is your mission ?
            </div>
                <div class="list">
                    <label class="item item-radio">
                        <input type="radio" name="group">
                        <div class="item-content">
                            Humiliate
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>

                    <label class="item item-radio">
                        <input type="radio" name="group">
                        <div class="item-content">
                            Fun
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                How do you want to play ?
            </div>
            <div class="item item-text-wrap">
                <ul class="">
                    <li class="item-toggle">
                        Publicaly
                        <label class="toggle toggle-assertive">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>

                </ul>

            </div>
        </div>
        <div class="card">
            <a class="button button-full button-positive" href="#/app/match">
                Start
            </a>
        </div>


    </ion-content>

    <div class="hide bar bar-footer bar-positive">
        <div class="title">Footer</div>
    </div>
</ion-view>
