<ion-view title="Match">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content has-header="true">

            <div class="item item-text-wrap center-block">
                Select your hand
            </div>


        <div class="card">
            <div class="row">
                <div class="col"><canvas id="rock" width="124" height="124" ng-click="myCssVar='css-class'" /></div>
                <div class="col"><canvas id="paper" width="124" height="124" /></div>
            </div>
            <div class="row">
                <div class="col col-offset-25"><canvas id="spoke" width="124" height="124" /></div>
            </div>
            <div class="row">
                <div class="col"><canvas id="scisor" width="124" height="124" /></div>
                <div class="col"><canvas id="lizard" width="124" height="124" /></div>
            </div>

        </div>
    </ion-content>

    <div class="hide bar bar-footer bar-positive">
        <div class="title">Footer</div>
    </div>
</ion-view>
